# ==============================
# Data Folder (Ignore Completely)
# ==============================
data/

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# ==============================
# Virtual Environment
# ==============================
venv/
.env
.env.*
*.env

# ==============================
# Logs
# ==============================
*.log

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db
